* {
  font-family: "Nunito", sans-serif;
  list-style: none;
  outline: 0;
  margin: 0;
}

:root {
  --main-color: #eee;
  --main-bgc: rgb(55 70 86);
  --main-tran: 0.3s;
  --orange-color: rgb(255, 102, 51);
}
.main-color {
  color: var(--main-color) !important;
}
body {
  background-color: rgb(255 102 51) !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 950px !important;
  }
}
.pointer {
  cursor: pointer;
}
.w-fit {
  width: fit-content;
}
.on {
  opacity: 1 !important;
}

.sec1 .header {
  background-color: var(--main-bgc);
  box-shadow: 0px 0px 16px -1px rgba(0, 0, 0, 1);
}

.sec1 .header .l-side img {
  width: 90px;
}

.sec1 .header .l-side ul li {
  cursor: pointer;
  font-weight: 600;
  color: var(--main-color);
  opacity: 0.85;
  transition: var(--main-tran);
}

.sec1 .header .l-side ul li::selection {
  background-color: transparent;
}

.sec1 .header .l-side ul li:hover {
  opacity: 1;
}

.sec1 .header .r-side div {
  background-color: var(--main-color);
  color: var(--main-bgc);
  font-weight: 600;
}

.sec1 .header .r-side img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.sec1 .header .r-side .firstName {
  background-color: transparent;
  font-weight: 400;
  color: var(--main-color);
}

.post {
  background-color: var(--main-bgc) !important;
}

.post .userPhoto {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post .time {
  font-size: 13px;
  color: #888;
}

.post .desc {
  font-size: 14px;
}

.noComm {
  width: 300px;
  text-align: center;
}

@media (max-width: 575px) {
  .header .r-side div {
    padding: 2px 4px !important;
    font-size: 14px;
  }
  .header .l-side ul {
    padding-left: 10px;
  }

  .sec1 .header .l-side img {
    width: 60px;
  }
  form {
    width: 400px !important;
  }
}

.landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007c;
  left: 0;
  top: 0;
  z-index: 11111111111;
  position: fixed;
}
.loader {
  width: 80px;
  height: 50px;
  position: relative;
}

.loader-text {
  position: absolute;
  top: 0;
  padding: 0;
  margin: 0;
  color: var(--orange-color);
  animation: text_713 3.5s ease both infinite;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

.load {
  background-color: var(--orange-color);
  border-radius: 50px;
  display: block;
  height: 16px;
  width: 16px;
  bottom: 0;
  position: absolute;
  transform: translateX(64px);
  animation: loading_713 3.5s ease both infinite;
}

.load::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(255, 74, 14);
  border-radius: inherit;
  animation: loading2_713 3.5s ease both infinite;
}

@keyframes text_713 {
  0% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }

  40% {
    letter-spacing: 2px;
    transform: translateX(26px);
  }

  80% {
    letter-spacing: 1px;
    transform: translateX(32px);
  }

  90% {
    letter-spacing: 2px;
    transform: translateX(0px);
  }

  100% {
    letter-spacing: 1px;
    transform: translateX(0px);
  }
}

@keyframes loading_713 {
  0% {
    width: 16px;
    transform: translateX(0px);
  }

  40% {
    width: 100%;
    transform: translateX(0px);
  }

  80% {
    width: 16px;
    transform: translateX(64px);
  }

  90% {
    width: 100%;
    transform: translateX(0px);
  }

  100% {
    width: 16px;
    transform: translateX(0px);
  }
}

@keyframes loading2_713 {
  0% {
    transform: translateX(0px);
    width: 16px;
  }

  40% {
    transform: translateX(0%);
    width: 80%;
  }

  80% {
    width: 100%;
    transform: translateX(0px);
  }

  90% {
    width: 80%;
    transform: translateX(15px);
  }

  100% {
    transform: translateX(0px);
    width: 16px;
  }
}

.createPost {
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  font-size: 20px;
  background-color: var(--main-bgc);
  color: var(--orange-color);
  cursor: pointer;
  opacity: 0.8;
  transition: var(--main-tran);
  z-index: 11;
}

.createPost:hover {
  box-shadow: 0px 0px 16px -1px #000 !important;
  opacity: 1 !important;
}

/* ----------------- */
form {
  background-color: var(--main-bgc);
  width: 500px;
}

form input {
  background-color: transparent;
  border: 0;
  border-bottom: 1px;
  border-style: solid;
  border-color: #eee;
  caret-color: var(--orange-color);
  padding: 8px 0 8px 20px;
  color: var(--main-color);
}

.sub {
  background-color: var(--orange-color);
  color: var(--main-color);
  padding: 6px 0;
}
.sub::selection {
  background-color: transparent;
}

.chooseImg {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  margin-left: 50%;
  white-space: nowrap;
  z-index: 1;
}

.chooseImg span {
  right: -32px;
  top: 50%;
  transform: translateY(calc(-50% + 3px));
  color: var(--orange-color);
  font-size: 35px;
  z-index: -1;
  cursor: auto;
  transition: var(--main-tran);
}
/* ----------------- */

form label span {
  color: #888;
  font-size: 10px;
}

form textarea {
  resize: none;
  width: 100%;
  height: 100px;
  background-color: transparent;
  caret-color: var(--orange-color);
  color: var(--main-color);
}

form img {
  width: 200px;
  margin-left: 50%;
  transform: translateX(-50%);
}

.postCon,
.commentsCon {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0000007c;
  z-index: 111;
}

form i {
  right: 20px;
  top: 20px;
  color: var(--main-color);
  cursor: pointer;
}

.errContainer {
  width: 300px;
  z-index: 111111;
}

.errContainer .err {
  background-color: rgba(255, 0, 0, 0.631);
}

.commentsCon .showComments {
  background-color: var(--main-bgc);
  width: 600px;
  max-height: calc(100vh - 200px);
  min-height: 400px;
}

.commentsCon h3 {
  background-color: var(--main-bgc);
  width: 600px;
}

.commentsCon .comm:first-child {
  margin-top: 200px;
}

.commentsCon .comm span {
  background-color: var(--main-color);
  color: var(--main-bgc);
}

.commentsCon .comm span h6 {
  color: #888;
  font-size: 16px;
}

.commentsCon .comm span p {
  color: var(--main-bgc);
  font-weight: 600;
}

.commentsCon .comm img {
  width: 60px;
  height: 60px;
}

.commentsCon i {
  right: 0px;
  top: 0px;
  color: var(--main-color);
  cursor: pointer;
}

.showComments::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  border-radius: 10px;
}
.showComments::-webkit-scrollbar-track {
  background-color: var(--main-bgc);
  border-radius: 0.375rem;
}
.showComments::-webkit-scrollbar-thumb {
  background: var(--orange-color);
  border-radius: 6px;
}

.commInp {
  width: 600px;
  background-color: var(--main-bgc);
  bottom: 0px;
  left: 0px;
  z-index: -1;
  transition: var(--main-tran);
}

.commInp input {
  background-color: transparent;
  caret-color: var(--orange-color);
  color: var(--orange-color);
  transition: var(--main-tran);
}

.commInp input:focus {
  border-color: var(--orange-color) !important;
}

.commInp span {
  background-color: var(--orange-color);
}

.post > div img {
  aspect-ratio: 3/2;
  object-fit: cover;
}

.toTop {
  right: 20px;
  bottom: 72px;
  color: var(--orange-color);
  font-size: 20px;
  width: 50px;
  height: 50px;
  background-color: var(--main-bgc);
  cursor: pointer;
  opacity: 0.8;
  transition: var(--main-tran);
  z-index: 11;
}
.toTop:hover {
  box-shadow: 0px 0px 16px -1px #000 !important;
  opacity: 1 !important;
}

@media (max-width: 767px) {
  .commentsCon .showComments {
    width: 380px;
  }

  .commentsCon h3 {
    background-color: var(--main-bgc);
    width: 380px;
  }

  .commInp {
    width: 380px;
  }

  .toTop,
  .createPost {
    width: 40px !important;
    height: 40px !important;
    font-size: 16px !important;
  }
}
